.home-bg-1 {
  background: url("./img/home/01.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home-bg-2 {
  background: url("./img/home/03.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home-bg-3 {
  background: url("./img/home/02.gif");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home-bg-4 {
  background: url("./img/home/04.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.navbar {
  --bs-navbar-color: #fff;
  --bs-navbar-hover-color: #e21;
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
  --bs-navbar-active-color: #e21;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: #fff;
}
.footer {
  background-color: #111;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #b9b9b9;
}
.navbar-toggler {
  color: transparent;
  background-color: #111;
  border: var(--bs-border-width) solid transparent;
}
.myMenu {
  color: #fff;
}
.myMenu:hover,
.myMenu:focus,
.myMenu:active {
  color: #eded;
}
#button {
  padding: 15px 35px;
  border: 2px solid #fff;
  text-transform: uppercase;
}
